.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}
.za {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/za.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timers {
  width: max(50%, 900px);
  z-index: 9999;
  margin: 0 20px;
  /* animation: blink 1s infinite; */
  text-shadow: 0 0 20px rgb(62, 51, 44), 0 0 20px rgb(62, 51, 44);
}
.firstRow {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  color: var(--color-2);
}
.secondRow {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
  font-size: 6rem;
  font-weight: bold;
  color: var(--red);
}
.divider {
  font-weight: 100;
  font-size: 2rem;
  color: var(--color-3);
}
.header {
  font-size: 2rem;
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 4rem;
  }
}

@keyframes blink {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
