.container {
  height: 100vh;
  width: 100vw;
  background: no-repeat center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zaBg {
  background-image: url(../assets/za.webp);
}
.wotlkBg {
  background-image: url(../assets/wotlk.webp);
}
.timers {
  z-index: 9999;
  margin: 0 20px;
  /* animation: blink 1s infinite; */
  text-shadow: 0 0 20px rgb(62, 51, 44), 0 0 20px rgb(62, 51, 44);
}
.firstRow {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  place-items: center;
  color: var(--color-2);
}
.secondRow {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  place-items: center;
  font-size: calc(45px + 0.390625vw);
  font-weight: bold;
  color: var(--red);
}
.divider {
  font-weight: 100;
  font-size: 2rem;
  color: var(--color-3);
}
.header {
  font-size: 2rem;
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

@keyframes blink {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
